<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
		<%- include('head') %>
	</head>
	<body class="container">

		<header>

		</header>

		<main>
			<div class="jumbotron">
				<h1><%= title %></h1>
				<p>Current second : <%= seconds %></p>
				<% if (locals.items) { %>
				<ul>
					<% for (let i = 0; i < items.length; i++) { %>
						<li>
							<%=items[i]; %>
						</li>
					<% } %>
				</ul>
				<% } %>
			</div>
			<p><%- htmlContent %></p>
		</main>

		<%- include('footer') %>

	</body>
</html>